* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  font-size: 1.1rem;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 500;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  display: flex;
  background: white;
  height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255, 255 ,255, 0.7), rgba(255, 255 ,255, 0.3));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(1rem);
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom, 
    rgba(255, 255 ,255, 0.8), 
    rgba(255, 255 ,255, 0.3)
    );
    height: 10rem;
    width: 10rem;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 1%;
  left: 15%;
}

.image-size {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  background: linear-gradient(
    to right bottom, 
    rgba(255, 255 ,255, 0.8), 
    rgba(255, 255 ,255, 0.3)
    );
    border-radius: 2rem;
}

.link {
  display: flex;
  margin: 5px 0;
  padding: 5px 2px;
  align-items: center;
}

.link img {
  width: 30px;
}

.link h2 {
  padding: 0rem 1rem;
}

.games {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 1rem;
  margin: 1rem;
  color: white;
  padding: 5px;
  position: relative;
}

.pro img {
  position: absolute;
  width: 90px;
  top: -16%;
}

.pro h2 {
  width: 50%;
  color: white;
  font-weight: 600;
}

.status {
  margin-bottom: 1rem;
}

.status input {
  background: linear-gradient(
    to right bottom, 
    rgba(255, 255 ,255, 0.8), 
    rgba(255, 255 ,255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.games {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to right bottom, 
    rgba(255, 255 ,255, 0.8), 
    rgba(255, 255 ,255, 0.3)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.card img {
  width: 50px;
}